.header_light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bar-color);
}

.header_dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bar-dark-color);
}

.logo {
  font-size: 1.3em;
  color: var(--logo-color);
}
